// 全局样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'NotoSansSC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--text-primary-color);
  background-color: var(--app-layout-bg-color);
}

#app {
  height: 100%;
}

// 清除列表样式
ul,
ol {
  list-style: none;
}

// 清除链接样式
a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #d9d9d9;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  -webkit-border-radius: 6px;

}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf;
}