// 全局样式
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'ZCOOL XiaoWei', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--text-primary-color);
  background-color: var(--app-layout-bg-color);
}

#app {
  height: 100%;
}

// 清除列表样式
ul, ol {
  list-style: none;
}

// 清除链接样式
a {
  text-decoration: none;
  color: inherit;
}

